<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <style>
        html {
            min-height:800px;
            width: 1250px;
            margin: 0 auto;
        }
        body {
            min-height:800px;
            width: 1250px;
            margin: 0 auto;
        }
     </style>

  </head>

  <body class="text-center">
    <br>
    <br>
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <form class="form-signin" METHOD="post">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input id="name" name = "name" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <br>
      <input id="password" name = "password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <br>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <br>
      <br>
      <br>
      <input type="hidden" name="index" value="1">
      <button name="qwe" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
      <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
  </body>
</html>