{% extends "base.html"%}
 {% block body %}
<form class="form-signin" METHOD="post">
<div class="container d-flex justify-content-center">
    <div class="card mt-5">

        <div class="d-flex flex-row p-3">
            <br>
            <br>
            <div class="chat ml-2 p-3"> <h3>Введите сообщение:</h3> </div>


        </div>
        <br>
        <br>
        <br>
            <form class="form-signin" METHOD="post">
                <input id="str" name = "str" type="text" class="form-control" placeholder="Введите сообщение" required>
                <input type="hidden" name="index" value="1">
                <br>
                <input name= "text3" type="submit" class="btn btn-lg btn-primary btn-block" value="Отправить">
            </form>
            <br>
            <form  METHOD="post">
                <input type="hidden" name="index" value="2">
                <input name= "text228" type="submit" class="btn btn-lg btn-primary btn-block" value="Выйти">
            </form>
        </div>
        </div>
    </div>
</div>
</form>
{% endblock%}